.form-container {
  max-width: 550px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  padding-right: 80px;
  text-align: center;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;

  color: #000;
}
.form-title p{
  text-align: left;
}
.ant-form-item {
  margin-bottom: 16px;
}

.ant-btn {
  background-color: #000; /* Update to your desired color */
  border: none;
}

.social-login {
  margin-top: 20px;
}

.login-link {
  margin-top: 20px;
  color: #000;

}

.form-body {
display: flex;
justify-content: center; /* Align items horizontally */
align-items: center; /* Align items vertically */

}

.form-container {
flex: 1; /* Allow the form to take up as much space as it needs */
 /* Limit the maximum width of the form */
margin-right: 20px; /* Space between the form and image */
}

.form-pic{

  width: 500px;
  height: 700px;
  margin-left: 0;
}

.form-pic img {
width: 100%; /* Make sure the image does not exceed its container's width */
height: 100%;

}
.info-title{
color: #000;
margin-left: 0;
text-align: start;
}
