.layout {
    background: #fff;
  }
  
  .header {
    background: #001529; /* Ensures visibility against the menu */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

  }
  
  .logo img {
    height: 50px;
    margin-right: 20px;
  }
  
  .ant-menu {
    line-height: 64px; /* Ensures the menu aligns with the header height */
  }
  
  .site-banner {
    text-align: center;
    margin: 20px 0;
  }
  
  .banner-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  
  .site-product-section {
    padding: 20px 0;
    border-style: solid;
    border-width: 1px;
    margin-top: 50px;
  }
  
  .section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: -20px;
    color: white;
    background-color: #082C44;
    padding-top: 10px;
    padding-bottom: 10px;

  }
  
  .ant-card-cover img {
    width: 100%;
    height: 200px;
    object-fit: cover;

  }
  
  .newsletter-section {
    padding: 40px 0;
    background-color: #f0f2f5;
    text-align: center;
  }
  
  .footer {
    text-align: center;
    background-color: #001529;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-title {
    font-size: 24px;
    color: #fff;
  }
  .form-title p {
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: visible;   /* Ensures text is visible */
    text-overflow: clip; /* Displays the full text without cutting it off */
    font-size: 24px;     /* Adjust as needed */
    font-weight: bold;   /* Make the text bold to match the image style */
}
.Menu{
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
    
}

.ant-card{
    width: 250px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.and-col{
  padding: 20px;
}
.ant-menu-title-content{
    margin: 50px;
    font-weight: bold;
    color: #072D44;
    
}
.home-studio img{
    width: 100%;
    height: 500px;
}
.home-studio{
    width: 100%;
    margin-bottom: 50px;
}

.custom-card {
  border: 1px solid #082C44;
  border-radius: 30px;
}

.footer {
  background-color: #0d1b2a;
  color: white;
  padding: 40px 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;

}

.footer-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-btn {
  background-color: #ffffff;
  color: #0d1b2a;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-icon {
  margin: 0 auto;
  cursor: pointer;

}
.page-logo img{
  width: 200px;
  margin-left: 20px;
}