.photo-card {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .photo-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  .header-title{
    color: #000;

    margin-top: 0;
    padding-bottom: 40px;
  }
.h2{
    text-align: left;

}  
.column-services{
  margin: 0 auto;
}