/* Dashboard layout styles */
.sidebar-content{
    margin-bottom: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
.dashboard-layout {
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar */
  .sidebar {
    height: 85%;
    width: 250px;
    background-color: #111827;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar h1 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 40px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 20px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  
  .sidebar ul li a:hover {
    color: #6366F1;
  }
  
  .footer {
    font-size: 0.9rem;
    color: #9CA3AF;
  }
  
  /* Dashboard content */
  .dashboard-content {
    flex-grow: 1;
    padding: 40px;
    background-color: #f9fafb;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .stat {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 20%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .stat h3 {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #6b7280;
  }
  
  .stat p {
    font-size: 2rem;
    font-weight: bold;
    color: #111827;
  }
  
  .stat span {
    font-size: 0.9rem;
    color: #4ade80;
  }
  
  /* Main dashboard content */
  .dashboard-content-main {
    display: flex;
    justify-content: space-between;
  }
  
  .sales-chart, .traffic-source {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .sales-chart h4, .traffic-source h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #111827;
  }
  .customers-container {
    padding: 24px;
    background-color: #f0f2f5;
    height: 84%;
  }
  .custom-row {
    height: 160px; /* Điều chỉnh chiều cao hàng */
  }
  
  h2 {
    margin-bottom: 16px;
  }
  
  .add-customer-form {
    margin-top: 24px;
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .add-customer-form h3 {
    margin-bottom: 16px;
  }
  
  .add-customer-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
  }
  
  button {
    width: 100%;
  }
  .image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.zoomable-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.image-container:hover .zoomable-image {
    transform: scale(1.8); /* Adjust zoom level as needed */
}

